:root {
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Montserrat", sans-serif;
}

body {
  background-image: url(/src/o.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: var(--primary-font-family);
  margin-bottom: 100px;
}

nav {
  padding-top: 20px;
}

nav ul {
  padding: 0;
  text-align: end;
  /* margin-top: 20px; */
}
nav li {
  display: inline;
  text-decoration: none;
  margin-left: 30px;
  font-size: 16px;
  line-height: 40px;
}
nav a {
  text-decoration: none;
  color: black;
}
nav a:hover,
li.active {
  transition: all 100ms ease-in-out;
  font-weight: bold;
}
/* nav li.active {
  
} */
h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 84px;
}

h2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
}
h3 {
  font-size: 40px;
}

img {
  opacity: 85%;
}

.photo {
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.3);
}

.content-description {
  padding: 100px 0px 0px;
}

.content-description h5 {
  font-size: 18px;

  font-family: var(--primary-font-family);
}

.content-description p {
  font-size: 18px;
  line-height: 1.5;
}
.content-description a {
  font-family: var(--secondary-font-family);
  font-size: 14px;
  text-transform: uppercase;

  opacity: 70%;
}
.content-text {
  padding-left: 30px;
}
.hero p {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
.hero {
  text-align: center;
  padding: 160px 20px 30px;
  color: black;
}
.btn-branding {
  padding: 18px 30px;
  border: 1px solid black;
  margin: 40px;
  border-radius: 50px;
  font-family: var(--secondary-font-family);
  font-size: 14px;
  text-transform: uppercase;
  width: 200px;
}
.btn-branding:hover {
  border: 1px solid black;
  text-decoration: underline;
}
.btn-weather {
  border: 1px solid #6d7d88;
  opacity: 90%;
  border-radius: 3px;
  background-color: #6d7d88;
  color: #e7ecee;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.btn-weather:hover {
  border: 1px solid #6d7d88;
  color: #6d7d88;
}

.myProjects {
  font-size: 40px;
  opacity: 90%;
}
.weatherApp_Description {
  font-size: 20px;
  margin-left: 60px;
}
.weatherApp_Description p {
  font-size: 30px;
  font-weight: 700;
  opacity: 80%;
}

.contact-links i {
  padding: 15px;
}

@media (max-width: 900px) {
  nav ul {
    text-align: center;
  }
  nav li {
    font-size: 14px;
  }
  h1 {
    font-size: 35px;
    line-height: 40px;
  }
  h2 {
    font-size: 18px;
  }
  .hero {
    padding: 30px 10px 10px;
  }
  .hero p {
    font-size: 15px;
  }
  .weatherApp_Description {
    text-align: left;
    font-size: 15px;
    margin-left: 30px;
  }
  .weatherApp_Description p {
    font-size: 20px;

    margin: 10px 0;
  }

  .myProjects {
    font-size: 25px;
  }
  .btn-branding {
    width: 150px;
    padding: 5px 10px;
    margin-top: 10px;
  }
  .btn-weather {
    font-size: 10px;
  }
  .content-description {
    padding: 70px 40px 10px;
  }
  .content-text {
    text-align: center;
  }

  .content-description h3 {
    font-size: 30px;
    margin-top: 20px;
  }
  .myProjectsLink {
    margin-top: 30px;
  }

  .content-text h4 {
    font-size: 20px;

    text-align: left;
    opacity: 90%;
  }
  .myWork {
    padding: 100px 0 0;
  }
}
