body{
    background-image:url(/src/o.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   
}
h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 72px;
    line-height: 84px;
}
h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
}

.hero p {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}
.hero {
    
    text-align: center;
    padding: 160px 20px;
    color: black;
    
   
}
.btn-branding{
    padding: 18px 30px;
    border: 1px solid black;
    margin-top:50px;
    border-radius: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    width: 200px;
   
}